@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --stone-900: #1c1917;
  --stone-600: #57534e;
  --white: #d6d3d1;
  --amber-700: #b45309;
}

body {
  color: var(--white);
  background: var(--stone-900);
  font-size: 14px;
  scrollbar-color: var(--stone-600) var(--stone-900);
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
