@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --stone: rgb(28 25 23); /* bg-stone-900 */
  --white: rgb(231 229 228);
  --amber: rgb(180 83 9); /* bg-amber-700 */
}

body {
  color: var(--white);
  background: var(--stone);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
